<html>
    <head>
        <title>JavaScript</title> 
    </head>
    <body>
      <h1>Marks:{{quiz.marks}}</h1>
      <form id='form' action="leaderboard" method="POST">
        {% csrf_token %}
        <br>
        Question{{quiz.questionNumber}}:&nbsp
        {{quiz.question}}<br>
        1)<input type="radio" id="option1" value="1" name="options">
          <label for="html">{{quiz.option1}}</label><br>
        2)<input type="radio" id="option2" value="2" name="options">
          <label for="html">{{quiz.option2}}</label><br>
        3)<input type="radio" id="option3" value="3" name="options">
          <label for="html">{{quiz.option3}}</label><br>
        4)<input type="radio" id="option4" value="4" name="options">
          <label for="html">{{quiz.option4}}</label><br>
        <br>
        <br><hr>
      </form>
      <br>
      <h2>Time<div id="stopwatch">  {{quiz.timer}} </div></h2>
    </body>
</html>

<script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    const timer = document.getElementById('stopwatch');
    sec = {{quiz.timer}};
    console.log("ok");
    timerCycle();
    console.log("finish");

  var sec = {{quiz.timer}};
  
  function timerCycle() {

      sec=sec-1;
      sec=Math.max(sec,0)
      if(sec==0){
        console.log("ok1");
        
        $('#form').submit();
        // window.location="{% url 'leaderboard' %}";
        return;
        
      }
      var x=sec;
      if (x < 10 || x == 0) {
        x='0'+x;
      }
      timer.innerHTML = x;
      if(sec>=0) setTimeout("timerCycle()", 1000);
  }
  
</script>