<html>
  <body>
    <h1>Current LeaderBoard</h1><hr><br>
    {% for top in leaderboard %}
    <i>{{ top.0 }}</i>------------ 
    <b>{{ top.1 }}</b>
    <br>
    {% endfor %}
  </body>
  {% ifequal user "admin" %}
  <button id="next">Next</button>
  {% endifequal %}
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    
    var config = {
    "apiKey": "AIzaSyDNn1-wkMm-g0cH2BKQ6XjdLTl6ldds8ZE",
    "authDomain": "quizck-74e04.firebaseapp.com",
    "projectId": "quizck-74e04",
    "storageBucket": "quizck-74e04.appspot.com",
    "messagingSenderId": "555502389734",
    "appId": "1:555502389734:web:2a977e89e54df3c69cae27",
    "measurementId": "G-XFLZV89Q56",
    "databaseURL": "https://quizck-74e04-default-rtdb.firebaseio.com/"
  }

  firebase.initializeApp(config);
  const dbRef = firebase.database().ref();

  var code="{{code}}";
    dbRef.child("games/"+code).on('value',function(snapshot){
    
      snapshot.forEach(function(child) {
        if(child.key=='newplayer'){
          var all=child.val();
          var content="";
          for(var i=0;i<all.length;i++){
            content+=all[i]+"     ";
          }
          $('#fire').text(content)
        }
      });
    });
  dbRef.child("games/"+code).on('child_changed', function(snapshot){
    if(snapshot.key=='newplayer'){    
      var all=snapshot.val();
      var content="";
          for(var i=0;i<all.length;i++){
            content+=all[i]+"     ";
          }
          $('#fire').text(content);
    }
    else if(snapshot.key=='next'){    
      window.location="{% url 'showQuiz' %}";
    }
  });

  </script>
  {% ifequal user "admin" %}
  <script>
  $('#next').click(function(){
    console.log("inside click function");
    dbRef.child("games/"+code).once('value',function(snapshot){
    
      console.log("inside snapshot");
      snapshot.forEach(function(child) {
        if(child.key=='next'){
          var status=child.val();
          console.log("inside Next");
          dbRef.child("games/"+code).update({"next":1-status});
          console.log("After Updation");         
        }
        console.log("outside if");
      });
      console.log("outside for");
    });
    console.log("outside snapshot");
  });
  console.log("end of click");

  </script>
  {% endifequal%}
</html>